{% extends 'base.html' %}

{% block content %}
<div class="container mb-3">
<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum itaque vitae maxime assumenda, molestias blanditiis officiis nesciunt accusamus iusto voluptates voluptatibus pariatur magni unde! Modi quis aperiam exercitationem voluptate fugit.</h1>

<div class="d-flex flex-row mb-3">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
  </div>
</div>

{% endblock %}