{% extends 'base.html' %}

{% block content %}
<div class="banner mt-5 pb-5 mt-5 pt-3">
    <div class="container-fluid px-4">
        <div class="card shadow-lg pt-2 pb-2 mb-1 mt-3">
            <div class="card-body">
                <h1
                    class="card-title display-3 p-1 ">
                    SIMPLE POWERFULL FAST
                </h1>

                <h1 class="card-title display-6 pb-2 mb-3 text-dark border-bottom border-danger">
                OPEN SOURCE DIETETICS FRAMEWORK WITH DEADLINE 
                </h1>
                <a href="#" class="btn btn-danger shadow-lg mt-2 p-3 px-3">ROBOTS NUTRITIONIST</a>
            </div>
        </div>
    </div>
</div>



<div class="product-title d-flex justify-content-center pt-3">
    <h3 class="display-6">
        NUTRIECY ANALYSIS TOOLS
    </h3>
</div>

<div class="container">
    <div class="product row pt-3">
        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/analytic.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DUBOIS</h5>
                <a href="{{url_for('beranda.dubois_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/dashboard.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HARRIS BENNEDICT</h5>
                <a href="{{url_for('beranda.harris_bennedict_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/reporting.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MIFFLIN</h5>
                <a href="{{url_for('beranda.mifflin_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/reporting.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PERKENI 2015</h5>
                <a href="{{url_for('beranda.perkeni_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/reporting.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GIZI WANITA HAMIL</h5>
                <a href="{{url_for('beranda.gizihamil_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 mx-3" style="width: 18rem;">
            <img src="{{url_for('static', filename='/asset/reporting.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GIZI WANITA MENYUSUI</h5>
                <a href="{{url_for('beranda.gizimenyusui_page')}}" class="btn btn-danger shadow-lg mt-2 p-4 px-5">Go somewhere</a>
            </div>

            {% endblock %}