{% extends 'base.html' %}

{% block content %}

<div class="product-title d-flex justify-content-center pt-5 mt-5 mb-1">
    <h3 class="display-6">
        HITUNG GIZI KELOMPOK
    </h3>
</div>

<div class="container">
    <div class="card shadow-sm mb-3 mx-3 mt-3">
        <div class="card-body">
            <h5>catatan pengguanaan</h5>
            <label>perhitungan gizi menggunakan rumus dubois dengan faktor aktivitas 50% dan koreksi tidur 8jam</label>
            <ul class="list-group">
                <h6>UPLOAD FILE HARUS BERFORMAT CSV [.csv]</h6>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    format kolom berat badan
                    <span class="badge bg-info text-dark  fs-6">bb</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    format kolom tinggi badan
                    <span class="badge bg-info text-dark  fs-6">tb</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    format kolom usia
                    <span class="badge bg-info text-dark  fs-6">umur</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    format kolom jenis kelamin
                    <span class="badge bg-info text-dark  fs-6">gender</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    format gender ditulis huruf kecil semua
                    <span class="badge bg-info text-dark  fs-6">pria/wanita</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="upload-csv pt-1 mt-3 mb-1 pb-1">
        <div class="card shadow-sm mb-1 mx-3">
            <div class="card-body">
                <h5 class="card-title">UPLOAD CSV FILE</h5>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        {{form.csv.label(class='form-control-label mb-1')}}
                        {{form.csv(class='csv form-control mb-3', type='file')}}
                    </div>
                    {{form.analisa(class='analisa btn btn-success')}}
            </div>
            </form>
        </div>
    </div>

    {% if request.form.get('analisa') %}


    <div class="product-title d-flex justify-content-center pt-1 mt-4 mb-1">
        <h3 class="display-6">
            KALSIFIKASI STATUS GIZI
        </h3>
    </div>

    <div class="upload-csv pt-1 mt-1 mb-1 pb-1">
        <div class="card shadow-sm mb-1 mx-3">
            <div class="card-body">
                <h5 class="card-title">JUMLAH TOTAL STATUS GIZI BERDASARKAN IMT</h5>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JUMLAH TOTAL KURUS
                            <span class="badge bg-info text-dark  fs-6">{{kurus['bb'].count()}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JUMLAH TOTAL IDEAL
                            <span class="badge bg-info text-dark  fs-6">{{ideal['bb'].count()}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JUMLAH TOTAL GEMUK
                            <span class="badge bg-info text-dark  fs-6">{{gemuk['bb'].count()}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JUMLAH TOTAL OBESITAS
                            <span class="badge bg-info text-dark  fs-6">{{obesitas['bb'].count()}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="product-title d-flex justify-content-center mt-4 mb-1">
        <h3 class="display-6">
            KEBUTUHAN GIZI TOTAL
        </h3>
    </div>

    <div class="row csv-kebutuhan-gizi">
        <div class="col">
            <div class="upload-csv  mb-1 pb-1">
                <div class="card shadow-sm mb-3 mx-3">
                    <div class="card-body">
                        <div class="card-header mb-2">JUMLAH TOTAL KEBUTUHAN GIZI</div>
                        <div class="mt-3 mb-3">
                            <h6>KELOMPOK KURUS</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['energi'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['protein'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['lemak'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['karbo'].sum()}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <h6>KELOMPOK IDEAL</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['energi'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['protein'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['lemak'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['karbo'].sum()}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="upload-csv  mb-1 pb-1">
                <div class="card shadow-sm mb-3 mx-3">
                    <div class="card-body">
                        <div class="card-header mb-2">JUMLAH TOTAL KEBUTUHAN GIZI</div>
                        <div class="mt-3 mb-3">
                            <h6>KELOMPOK GEMUK</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['energi'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['protein'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['lemak'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['karbo'].sum()}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <h6>KELOMPOK OBESITAS</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['energi'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['protein'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['lemak'].sum()}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['karbo'].sum()}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-title d-flex justify-content-center mt-4 mb-1">
            <h3 class="display-6">
                KEBUTUHAN GIZI RATA-RATA
            </h3>
        </div>
        <div class="col">
            <div class="upload-csv  mb-1 pb-1">
                <div class="card shadow-sm mb-3 mx-3">
                    <div class="card-body">
                        <div class="card-header mb-2">JUMLAH RATA-RATA KEBUTUHAN GIZI</div>
                        <div class="mt-3 mb-3">
                            <h6>KELOMPOK KURUS</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['energi'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['protein'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['lemak'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{kurus['karbo'].mean().round(0)}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <h6>KELOMPOK IDEAL</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['energi'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['protein'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['lemak'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{ideal['karbo'].mean().round(0)}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="upload-csv  mb-1 pb-1">
                <div class="card shadow-sm mb-3 mx-3">
                    <div class="card-body">
                        <div class="card-header mb-2">JUMLAH RATA-RATA KEBUTUHAN GIZI</div>
                        <div class="mt-3 mb-3">
                            <h6>KELOMPOK GEMUK</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['energi'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['protein'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['lemak'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{gemuk['karbo'].mean().round(0)}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <h6>KELOMPOK OBESITAS</h6>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    ENERGI
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['energi'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    PROTEIN
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['protein'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    LEMAK
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['lemak'].mean().round(0)}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    KARBO
                                    <span class="badge bg-info text-dark  fs-6">{{obesitas['karbo'].mean().round(0)}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
</div>



{% endblock %}