/* ------------------------------DESKTOP MEDIA-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+NSW+ACT+Foundation:wght@500&family=Splash&display=swap');
body {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    background: radial-gradient(circle at 10% 20%, rgba(248, 246, 128, 0.459) 0%, rgba(148, 150, 244, 0.397) 90%);    
}


nav{
    background: linear-gradient(135deg, rgba(121, 183, 241, 0.589) 10%, rgb(14, 91, 173) 100%);
}

.offcanvas{
    background: linear-gradient(135deg, rgb(121, 241, 164) 10%, rgb(14, 92, 173) 100%);

}

.navbar-brand{
    background: linear-gradient(135deg, rgba(241, 239, 121, 0.274) 10%, rgba(14, 91, 173, 0.486) 100%);
    font-family: 'Rubik Dirt', cursive;
}

/* HALAMAN BERANDA */

.katalog .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.shadow-sm{
    background: linear-gradient(135deg, rgba(117, 40, 85, 0.37) 10%, rgba(44, 112, 36, 0.301) 100%);
}

.shadow-lg{
    background: linear-gradient(135deg, rgba(117, 40, 85, 0.37) 10%, rgba(44, 112, 36, 0.301) 100%);
}


.product-sevice{
    justify-content: center;
    align-items: center;
}


/* AKHIR HALAMAN BERANDA */

/* DUBOIS */
.dubois-form .container-fluid{
    display: flex;
    justify-content:center;
    
}

.dubois-form .container-fluid .card{
    background: rgb(183, 187, 243);
}
/* AKHIR DUBOIS */



/* ------------------------------MOBILE MEDIA-------------------------------- */

@media (max-width:650px){
    body {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
    }


    

    .banner .shadow-lg{
        display: none;
    }

    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .product-service .card{
    display: none;
    }


/* DUBOIS */
   
/* AKHIR DUBOIS */
    

}
